body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  font-family: 'PT Serif', serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Roboto Slab', serif;
  font-family: 'Source Serif 4', serif;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
